{% extends "emails/base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
{{ sender }} ha appena effettuato un nuovo ordine dal sito web. Di seguito i dettagli:<br>
Cliente: {{ sender }}<br>
Indirizzo: {{ address }}<br>
Località: {{ locality }}<br>
Provincia: {{ province }}<br>
Email: {{ email }}<br>
Telefono: {{ phone }}<br>
<br>
Prodotti ordinati: <br>
{{ message|nl2br }}<br>
<br>
{% endblock %}

{% block signature %}
  Chiama il cliente <a href="tel:{{ phone }}">{{ phone }}</a> o invia una mail <a href="mailto:{{ email }}">{{ email }}</a>
{% endblock %}
